h1 {
  margin-left: 10px;
  position: relative;
}

img {
  float: left;
  margin-left: 330px;
  margin-right: 10px;
  height: 40px;
}

.main_page {
  padding: 160px;
  background-image: url(road2.jpeg);
  background-position: absolute;
  background-size: 100% 100%;
  margin-bottom: 20px;
  padding-bottom: 3.5cm;
}

.main_page h4 {
  font: "ProximaNovaA-Thin", "Century Gothic", AppleGothic, Arial, sans-serif;
  font-size: 41px;
  color: #ffffff;
  line-height: normal;
  position: relative;
  display: inline-block; /* Make the width of box same as image */
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.your_driver_license_text {
  margin-left: 290px;
  position: absolute;
  bottom: 100px;
  text-align: center;
}

#more_info_button {
  margin-left: 370px;
  bottom: 120px;
  margin-top: 30px;
}

#logo1 {
  width: 116px;
  height: 116px;
  object-fit: fill;
  margin-left: 270px;
  margin-top: -80px;
  position: relative;
}

#logo2 {
  width: 116px;
  height: 116px;
  object-fit: fill;
  margin-left: 413px;
  margin-top: -178px;
}

#logo3 {
  width: 116px;
  height: 116px;
  object-fit: fill;
  margin-left: 557px;
  margin-top: -178px;
}

.text_1 {
  color: #ffffff;
  font: normal normal normal 20px/1.4em helvetica-w01-roman, helvetica-w02-roman,
    helvetica-lt-w10-roman, sans-serif;
  margin-left: -130px;
  margin-top: 50px;
  display: inline-block; /* Make the width of box same as image */
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  line-height: normal;
  text-align: center;
}

.text_2 {
  color: #ffffff;
  font: normal normal normal 20px/1.4em helvetica-w01-roman, helvetica-w02-roman,
    helvetica-lt-w10-roman, sans-serif;
  margin-left: 408px;
  margin-top: -45px;
  float: left;
  display: inline-block; /* Make the width of box same as image */
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  line-height: normal;
  text-align: center;
}

.text_3 {
  color: #ffffff;
  font: normal normal normal 20px/1.4em helvetica-w01-roman, helvetica-w02-roman,helvetica-lt-w10-roman, sans-serif;
  margin-left: 561px;
  margin-top: -46px;
  float: left;
  display: inline-block; /* Make the width of box same as image */
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  line-height: normal;
  text-align: center;
}

#book_now_button {
  margin-inline-start: 240px;
}

#double_vertical_table {
  width: 60%;
  height: 60%;
  margin-left: 30px;
  margin-bottom: -130px; 
  /* marginbottom was -50px */
}

.sid {
  position: fixed;
  min-height: 12rem !important;
  position: absolute;
  top: 85px;
  right: 0;
  margin-top: -130px !important;
  left: -200px;
  height: 177px !important;
}

#testing_grid {
  margin-left: 1060px !important;
}

#placeholder_text {
  float: top;
  margin-bottom: 100px;
  margin-top: 60px;
}

#placeholder_text2 {
  float: top;
  top: -90px;
}

#placeholder_text3 {
  float: top;
  top: -90px;
}

#placeholder_text4 {
  font-size: 20px;
  top: -70px;
  margin-left: 1150px;
  text-align: center;
}


@import url(https://fonts.googleapis.com/css?family=Akronim);

.fire {
  margin-top: 90px;
  margin-left: -100px;
  margin-right: 50px;
  max-width: 1000px;
  height: 10px;
}

.fire:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.Blazing {
  display: inline-block;
  margin: 0;
  color: rgb(59, 59, 59);
 
  line-height: 50px;
  min-width: 50px;
  outline: none;
  vertical-align: middle;

  text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange,
    4px -5px 6px yellow, -4px -10px 10px yellow, 0 -10px 30px yellow;
  animation: 1.5s Blazing infinite alternate linear;
}

@keyframes Blazing {
  0% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange, 0 0 0 yellow,
      0 0 5px yellow, -2px -5px 5px yellow, 4px -10px 10px yellow;
  }
  25% {
    text-shadow: 0 3px 20px red, 0 0 30px red, 0 0 20px orange, 0 0 5px yellow,
      -2px -5px 5px yellow, 3px -10px 10px yellow, -4px -15px 20px yellow;
  }
  50% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 -5px 10px orange,
      -2px -5px 5px yellow, 3px -10px 10px yellow, -4px -15px 20px yellow,
      2px -20px 30px rgba(255, 255, 0, 0.5);
  }
  75% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 -5px 10px orange,
      3px -5px 5px yellow, -4px -10px 10px yellow,
      2px -20px 30px rgba(255, 255, 0, 0.5), 0px -25px 40px rgba(255, 255, 0, 0);
  }
  100% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px red, 0 0 0 red,
      0 0 5px red, -2px -5px 5px red, 4px -10px 10px red;
  }
}