.ui.dimmer {
    padding-top: 1227px !important;
    position: fixed;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.74);
  }
  
  #header {
      margin-top: -1900px;
     
  }
  
  #img {
      width: 75%;
      padding-right: 430px;
  }
  
  #thank {
      font-size:45px;
      letter-spacing: 2px;
    
  }

  #msg-1{
      margin-left: 40px !important;
  }
  
  .ui.basic.dimmer.modals.visible.active h3 {
      margin-top: -5px;
  }
  
  .actions {
      margin-top: 20px;
      
  }
  
  #link {
      line-height: 1.3;
  }